tensorflow-cpu==2.7.0
tensorflow-datasets==4.4.0
git+https://github.com/rwightman/pytorch-image-models.git@9c321be33059164fc5510009f10d5d23ea595df3
git+https://github.com/fra31/auto-attack.git@aaba775aedf24c86099ca0340d62275878a101ae
pyyaml
fvcore
